# Python virtual environment
venv/
.venv/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# SpecValid output
output/

# Experiments
experiments/GAssert
experiments/GAssert.tar.gz
experiments/results/
experiments/run-example.sh