# Python virtual environment
venv/
.venv/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# SpecValid output
output/

# Experiments
experiments/GAssert
experiments/GAssert.tar.gz
experiments/results/
experiments/specfuzzer-subject-results/
experiments/daikon-5.8.2.zip
experiments/daikon-5.8.2/
experiments/run-example.sh

# Egg-info directory
src/specvalid.egg-info

# TO DO
TODO.md
